:root {
  --color-dark: #2a2b2e;
  --color-light: #fff;
  --color-primary: #aceb98;
  --color-secondary: #5a5a66;
  --color-alternate: #a4c2a8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 2px;
  background: var(--color-dark);
  color: var(--color-light);
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

nav {
  background: var(--color-primary);
  color: var(--color-dark);
  padding: 2rem;
  text-align: center;
}

.search {
  background: var(--color-primary);
  margin: 5vh 1rem 0;
  padding: 1rem;
  max-width: 900px;
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  margin-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

button[name='submit'] {
  background: var(--color-secondary);
  color: var(--color-light);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

button[name='submit']:hover {
  background: var(--color-alternate);
}

.recipe {
  background: var(--color-light);
  margin: 1rem;
  color: var(--color-dark);
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.recipe p {
  margin: 1rem 0;
}

.recipe a {
  margin-top: 1rem;
  text-align: center;
  /* cursor: pointer; */
}

.recipe img {
  height: 200px;
}

/* media queries */
@media (min-width: 768px) {
  nav {
    text-align: left;
  }

  .search {
    margin: 5vh auto 0;
  }
}
